body{
    margin:0px;
    padding:0px;
}

.mainDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:80%;
    height:600px;
    background-image: linear-gradient(to right, beige , lightgrey);
    margin: 5% 10%;
     font-family: "Open Sans", sans-serif;
     box-shadow: 10px 10px 10px 8px lightblue;
}

img{
    width:400px;
    height:550px;
    
}
h2{
    font-weight: normal;
    margin: 0px;
    font-family: "Calligraffitti", cursive;
}
h1{
    margin: 0px;
    font-size: 48px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 150px;
    gap:180px;
}
a{
    color: black;
    text-decoration-line: none;
    

}
a:hover{
    color: coral;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    
    
   
}

.button{
    width:130px;
    height:40px;
    background-color: rgba(230, 140, 30, 0.887);
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    align-content: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
}
.button a{
    color: white;
}
.button a:hover{
    color:whitesmoke;
   
}
.button:hover{
    width:180px;
    height:60px;
    font-size: 20px;
    background-color: lightskyblue;
    
    
}

